@import "tailwindcss";

@tailwind utilities;

.animate-fade-in {
  animation: fadeIn 0.8s cubic-bezier(.39,.575,.565,1.000) both;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(16px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
